
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>注册结果</title>
    <style>
        .back {
            position: absolute;
            margin-top: 14px;
            z-index: 9999;
        }
    </style>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">

            <input type="button" value="返回" class="btn btn-default back" onclick="window.history.back()" />
            <div class="col-md-12">
                <h3 class="text-center">注册结果</h3>

            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="container">
                    注册成功,<a href="#">点击下载APP</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
