
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>提现记录</title>
   @Html.Action("CommonHead", "Static")
    <link rel="stylesheet" href="/css/remaining.css" />
    <script>
        var index = 1;
        var startX, startY, endX, endY, syncStatus = 1, syncTopStatus=1;
        $(function () {
            $("body").on("touchstart", function (e) {
                // e.preventDefault();
                startX = e.originalEvent.changedTouches[0].pageX;
                startY = e.originalEvent.changedTouches[0].pageY;

            });
            $("body").on("touchmove", function (e) {
                endX = e.originalEvent.changedTouches[0].pageX;
                endY = e.originalEvent.changedTouches[0].pageY;
                var y = endY - startY;
                //console.log($("body")[0].scrollTop);
                if (Math.abs(y) > 100) {

                    var $list = $("body");
                    var oldheight = $list[0].scrollHeight;
                    if (y > 0) {
                        //console.log($list[0].scrollTop + "---总高度:" + $list[0].scrollHeight);
                        if (syncTopStatus == 1 && $list[0].scrollTop == 0) {
                            syncTopStatus = 0;
                           
                            //getMessageRecord(function () {
                            //    syncTopStatus = 1;
                            //    $list[0].scrollTop = $list[0].scrollHeight - oldheight;
                            //});

                        }
                        //alert("向下");
                    } else {
                        //console.log($list.scrollTop() + window.innerHeight+"----"+$list[0].scrollHeight);
                        if (syncStatus == 1 && $list.scrollTop() + window.innerHeight == $list[0].scrollHeight) {
                            syncStatus = 0;
                            index++;
                            TransforoutList();
                        }
                        //alert("向上");
                    }
                }

            });
        });
    </script>
    <script>
        function TransforoutList() {
            $.post("/Account/TransforoutList", "index="+index, function (data) {
                var list = JSON.parse(data.msg);
                if (list.length == 0) {
                    alert("暂无更多");
                    return;
                }
                syncStatus = 1;
                console.log(list);
                var temp = [];
                
                for (var i = 0; i < list.length; i++) {
                    temp.push("<li class='wd-record-item'><p>银行：" + list[i].BankName + "</p><p>支行：" + list[i].BankZhiHang + "</p><p>账户：" + list[i].BankAccount + "</p><p>姓名："
                        + list[i].BankUser + "</p><p>金额：￥" + list[i].Price + "</p><p>状态：" + getStatus(list[i].Status) + "</p>");
                    if (list[i].Status == -1) {
                        temp.push("<p>拒绝原因：" + list[i].ApplyRemark + "</p>");
                    }
                    temp.push("</li>");
                }
                $("#txlist").append(temp.join(""));
            }, "json");
        }
        function getStatus(status) {
            switch (status) {
                case 0:
                    return "未处理";
                case -1:
                    return "已拒绝";
                case 1:
                    return "已提取";
            }
        }
        TransforoutList();
    </script>
</head>
<body>

    <div class="wrap gray-wrap min-h100">
        <div class="Header">
            <i class="backto halfTop bgSR" onclick="window.history.back()"></i>
            <span class="header-l-font halfTop" onclick="window.history.back()">返回</span>
            <span>提现记录</span>
        </div>
        <div class="same-pt-wrap1">
            <ul class="enter-itemlist enter-itemlist-wdr" id="txlist">
            </ul>
        </div>
    </div><!--wrap-->
</body>
</html>

