#page_0 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.5);
}
.empty-view {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.rank-cont {
    z-index: 999;
    width: 90%;
    margin: 10% 5% 0;
    height: 80%;
    position: absolute;
}
.rank-top {
    width: 100%;
    height: auto;
}
.rank-list {
    width: 96.5%;
    margin: 0 1.75% 0;
}
.rank-bottom {
    width: 96.5%;
    margin: 0 1.75%;
}
.midl-cont {
    margin-top: -0.5em;
    width: 100%;
    height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.disp-wht {
    background-color: white;
    width: 3px;
    height: 100%;
}
.clos-cont {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.clos-cont .clos-icon {
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    padding: 0.1em;
    background-size: cover;
    background-image: url('../img/close_yuanxing@2x.png');
    -webkit-border-radius: 2.5em;
    border-radius: 2.5em;
}
.rank-nav {
    width: 96.6%;
    margin: 0 1.7% 0;
}
.rank-txt {
    width: 97%;
    text-align: center;
    color: #FD6660;
    background-color: white;
    font-size: 1.4em;
    margin: 0 1.5% 0;
}
.txt-cont {
    width: 100%;
    text-align: center;
    color: #606060;
    margin: 0.8em 0 1.5em;
    font-size: 1.8em;
}
.btn-cont {
    width: 80%;
    margin: 0 10% 20%;
}
.btn-cont .btn2 {
    background-color: #FF5265;
}

.nav-cont {
    padding: 1.68em 1.50em 0.96em;
    background-color: white;
    font-size: 0.896em !important;
}
.nav-left {
    color: #FD614A;
    padding: 0.4em 0em;
    border: 1px solid #FD614A;
    -webkit-border-radius: 0.3em 0 0 0.3em;
    border-radius: 0.3em 0 0 0.3em;
}
.nav-right {
    color: #FD614A;
    padding: 0.4em 0em;
    border: 1px solid #FD614A;
    -webkit-border-radius: 0 0.3em 0.3em 0;
    border-radius: 0 0.3em 0.3em 0;
}
.active {
    background: #FD614A;
    color: #FFFFFF;
}
.no-dis {
    display: none;
}
/*
 * hb
 */
.uinn-mito1 {
    padding: 0.625em 0 0.3125em 0;
}
.uinn-mito2 {
    padding: 0.3125em 0;
}
.uh-mito1 {
    height: 9.0625em;
    width: 95%;
}
.mito-icon1 {
    background-image: url('../img/mito-icon1.png');
}
.mito-icon2 {
    background-image: url('../img/mito-icon2.png');
}
.umar-r-mito {
    margin-right: 1.125em;
}
.uwh-icon1 {
    width: 0.75em;
    height: 0.75em;
}
.uamr-ar5 {
    margin-right: 0.25em;
}
.t-gra9 {
    color: #9c9c9c;
}
.ulev-app2 {
    font-size: 0.9375em;
}
.umar-at1 {
    margin-top: 0.625em;
}
.uinn-a7 {
    padding: 0 0.625em;
}
.form-marg {
    margin-top: 0.625em;
}
.form-padd {
    margin: 0.35em 0;
    padding: 0 0.625em;
}
.header-txt-color {
    color: #FED579;
}
.red-from {
    color: #ACACAC;
}
.already-save {
    color: #688EBB;
}

.img-marg-top {
    margin-top: 0.46875em;
}
.disp-img-width {
    height: 8.88em;
}
.actn-padd {
    padding: 0.7em 0;
}
.actn-color {
    color: #999999;
}
.rank-icon-sty {
    color: #707070;
    margin-right: 0.70em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.cash-sty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.rank-padd {
    padding: 0.625em 0.8em 0 0.8em;
}
.border-padd-bottom {
    padding-bottom: 0.625em;
}
.rank-style {
    height: 2.4em;
    width: 2.4em;
}
.rank-icon-width {
    height: 2.4em;
    width: 2.4em;
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em;
}
.rank-user-icon {
    background-image: url('../img/head.jpg');
}
.rank-width {
    height: 1.0em;
    width: 1.0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.rank-num {
    height: 1.0em;
    width: 1.0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: right;
    -ms-flex-align: right;
    -webkit-align-items: right;
    align-items: right;
}
.rank-no1 {
    background-image: url('../img/hbrank_no1@2x.png');
}
.rank-no2 {
    background-image: url('../img/hbrank_no2@2x.png');
}
.rank-no3 {
    background-image: url('../img/hbrank_no3@2x.png');
}
.user-hdr {
    color: #9A9A9A;
    font-size: 0.92em;
}
.user-comt {
    color: #707070;
}
.user-time {
    color: #707070;
    margin-top: 0.2em;
    font-size: 0.838em;
}
.user-time-marg-top {
}
.user-rank-marg-top {
    margin-top: 0.2em;
}
.user-list {
    margin-top: 0.42em;
    color: #333333;
}
.list-cash {
    color: #FD614A;
    font-size: 1.0em;
}
.already-received {
    color: #999999;
}

.rank-mode {
    width: 100%;
    height: 100%;
}
.rank-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.rank-menu {
    display: none;
}
.bot-temp {
    height: 0.36em;
    width: 100%;
}
.list-cont {
    width: 100%;
    height: auto;
    background-color: white;
    -webkit-border-radius: 0 0 0.3em 0.3em;
    border-radius: 0 0 0.3em 0.3em;
}
.inside-cont {
    width: 100%;
    height: 98.6%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.list-height {
    height: 0.5em;
}
.list-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}
.rank-bottom-radius {
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: white;
}
.rank-line {
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
}
.bot-style {
    background-color: white;
    -webkit-border-radius: 0 0 0.3em 0.3em;
    border-radius: 0 0 0.3em 0.3em;
}
.fuqi-mine {
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: white;background-color: white;
}
.tuhao-mine {
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: white;
}
.overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}

/*
 * 当页面可见宽度大于1400px小于1537px时 ipad mini2 ipad mini4
 */
@media all and (min-width: 1290px) and (max-width: 1537px) {

    .rank-img {
        z-index: 10;
        width: 100%;
        height: 207px;
        margin: 0 0 -3.5%;
        background-size: cover;
        background-image: url('../img/hongbao_paihangbang@2x.png');
    }

}
/*
 * 当页面可见宽度大于1100px小于1281px时 iphone 6s
 */
@media all and (min-width: 1100px) and (max-width: 1281px) {

    .rank-img {
        z-index: 10;
        width: 100%;
        height: 173px;
        margin: 0 0 -3.5%;
        background-size: cover;
        background-image: url('../img/hongbao_paihangbang@2x.png');
    }
}
/*
 * 当页面可见宽度大于900px小于1081px时 1080p iphone6s
 * 0.15
 */
@media all and (min-width: 753px) and (max-width: 1081px) {

    .rank-img {
        z-index: 10;
        width: 100%;
        height: 146px;
        margin: 0 0 -3.5%;
        background-size: cover;
        background-image: url('../img/hongbao_paihangbang@2x.png');
    }
}
/*
 * 当页面可见宽度大于650px小于751px时 1080p iphone6
 * 0.219
 */
@media all and (min-width: 650px) and (max-width: 751px) {

    .rank-img {
        z-index: 10;
        width: 100%;
        height: 101px;
        margin: 0 0 -3.5%;
        background-size: cover;
        background-image: url('../img/hongbao_paihangbang@2x.png');
    }
}
/*
 * 当页面可见宽度大于650px小于751px时 1080p iphone6
 */
@media all and (min-width: 500px) and (max-width: 641px) {

    .rank-img {
        z-index: 10;
        width: 100%;
        height: 86px;
        margin: 0 0 -3.5%;
        background-size: cover;
        background-image: url('../img/hongbao_paihangbang@2x.png');
    }
}