.user-block{
    position:relative;
    height:8.14453125rem;
    margin:1rem auto;
    padding-left:8.1rem;
    border-top:0.05rem solid #cdcccc;
    border-bottom:0.05rem solid #cdcccc;
    background-color:#fff;
}
.user-img{
    position:absolute;
    left:2rem;
    display:block;
    width:4.98046875rem;
    height:4.98046875rem;
    border:0.05rem solid #dadada;
    border-radius:0.8rem;
    overflow:hidden;
}
.user-name{
    position:relative;
    display:inline-block;
    margin-top:2.2265625rem;
    font-size:1.7rem;
}
.user-gendericon{
    position:absolute;
    left:110%;
    top:50%;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-50%);
    display:block;
}
.womenicon{
    width:1.2890625rem;
    height:1.5234375rem;
    background:url(../img/common/women.png) no-repeat;
    background-size:100%;
}
.menicon{
    width:1.2890625rem;
    height:1.5234375rem;
    background:url(../img/common/men.png) no-repeat;
    background-size:100%;
}
.user-telephone{
    color:#999;
}
.me-mb-1{
    margin-bottom:2rem;
}
.me-mt-1{
    margin-top:2rem;
}

.loginPsw-item{
    position:relative;
    height:5rem;
    line-height:5rem;
    border-top:0.05rem solid #000;
    border-bottom:0.05rem solid #000;
}
.loginPsw-mt-1{
    margin-top:2rem;
}
.loginPsw-mt-2{
    margin-top:1rem;
}
.loginPsw-mt-3{
    margin-top:6rem;
}
.psw-lab{
    position:absolute;
    top:0;
    left:0;
    width:12rem;
    height:5rem;
    text-indent:1rem;
    line-height:5rem;
}
.loginPsw-iptPsw{
    display:block;
    width:100%;
    height:100%;
    text-indent:12rem;
}
