#page_0 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.5);
}
.empty-view {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.pack-cont {
    z-index: 999;
    width: 85%;
    margin: 30% 7.5% 0;
    height: auto;
    position: absolute;
}
.rtn-cont {
    width: 100%;
    height: 80%;
    padding-top: 1.5em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: white;
}
.midl-cont {
    width: 100%;
    height: 1.0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.disp-wht {
    background-color: white;
    width: 3px;
    height: 100%;
}
.clos-cont {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.clos-cont .clos-icon {
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    padding: 0.1em;
    background-size: cover;
    background-image: url('../img/close_yuanxing@2x.png');
    -webkit-border-radius: 2.5em;
    border-radius: 2.5em;
}
.logo-cont {
    width: 100%;
    height: auto;
    margin: 2.0em 0 0.3em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.logo-cont img {
    width: 4.5em;
    height: 4.5em;
}
.mask-cont {
    width: 100%;
    text-align: center;
    color: #FD6660;
    font-size: 1.4em;
}
.txt-cont {
    width: 100%;
    text-align: center;
    color: #606060;
    margin: 0.8em 0 1.5em;
    font-size: 1.8em;
}
.btn-cont {
    width: 80%;
    margin: 0 10% 20%;
}
.btn-cont .btn2 {
    background-color: #FF5265;
}

.pay-mode {
    position: fixed;
    bottom: 0.8em;
    z-index: 998;
    width: 100%;
}
.pay-padd {
    padding: 0em 0.5em;
}
.pay-clos {
    text-align: right;
}
.pay-clos-wd {
    display: inline-block;
    width: 2.0em;
    height: 2.0em;
    line-height: 2.0em;
    -webkit-border-radius: 2.0em;
    border-radius: 2.0em;
    background-color: white;
}
.pay-clos-img {
    background-size: cover;
    background-image: url('../img/pay_colse@2x.png');
}
.pay-cont {
    background: #FFFFFF;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}
.pay-title {
    padding: 0.6em 0em;
    text-align: center;
    margin-top: 1em;
    color: #323232;
}
.pay-num {
    padding: 0.8em 0em;
    text-align: center;
    font-size: 2.0em;
    border-top: 2px solid #F2F2F2;
    color: #4B4B4B;
}
.pay-change {
    color: #454545;
}
.pay-clos span {
    padding: 0.5em 0.8em;
    border-radius: 5em;
    right: 0em;
    background: #FFFFFF;
}
.pay-hongyun {
    margin: 0.2em 0em;
    font-size: 1em;
}
.pay-weixin {
    margin: 0.2em 0em;
    font-size: 1em;
    border-top: 2px solid #F2F2F2;
}
.pay-zhifubao {
    margin: 0.2em 0em;
    font-size: 1em;
    border-top: 2px solid #F2F2F2;
}
.pay-btn {
    margin: 0.9em 0em;
    padding: 0.75em 0em;
    text-align: center;
    background: #ffffff;
    font-size: 1.2em;
    border-radius: 0.2em;
    color: #323232;
}
.pay-img {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}
.pay-icon {
    width: 0.56em;
    height: 0.56em;
    line-height: 0.56em;
    -webkit-border-radius: 0.56em;
    border-radius: 0.56em;
    margin-right: 0.5em;
}
.pay-gray {
    background-size: cover;
    background-image: url('../img/pay_huidian@2x.png');
}
.pay-green {
    background-size: cover;
    background-image: url('../img/pay_lvdian@2x.png');
}
.hongyun-img {
    background-size: cover;
    background-image: url('../img/logo_yuanxing@2x.png');
}
.weixin-img {
    background-size: cover;
    background-image: url('../img/pay_weixin@2x.png');
}
.zhifubao-img {
    background-size: cover;
    background-image: url('../img/pay_zhifubao@2x.png');
}
.pay-ul-padd {
    padding: 0.3em 0.75em;
}
.pay-float-right {
    float: right;
    color: #9B9B9B;
}
.pay-float-right a {
    font-size: 0.8em;
    color: gray;
}
.pay-li-sty {
    width: auto;
    margin: 0em 0.5em 0em 0;
    min-height: 2em;
}
.no-dis {
    display: none;
}
