/*
 * right
 */
body {
    height: 100%;
    width: 100%;
}
#page_0 {
    height: 100%;
    width: 100%;
}
.middle-cont {
    background-color: white;
    margin: 0 1%;
    width: 98%;
    height: 100%;
    -webkit-border-radius: 1.28em;
    border-radius: 1.28em;
}
.middle-cont .sub-cont {
    
}
.left-cont {
    width: 30%;
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.res-avator {
    background-image: url('../img/avator.png');
}
.icon-style {
    min-height: 2.3em;
    min-width: 2.3em;
    -webkit-border-radius: 2.3em;
    border-radius: 2.3em;
}

.right-cont {
    width: 70%;
    left: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.area-color {
    color: #FD614A;
}
.user-color {
    color: #818181;
    font-size: 0.838em;
}
.img-cont {
    width: 100%;
    padding-right: 0.05em;
}
.float-right {
    float: right;
}
.text-cont {
    width: 100%;
    text-align: left;
    padding-left: 0.05em;
}
