.nav-bg {
    background-color: white;
    border-bottom: 1px solid #E8E8E8;
}

/*
 nav swiper
 */
.nav-cont {
    height: 100%;
}
.nav-sub {
    color: #989898;
    padding: 0.5em 0;
    text-align: center;
    width: 50%;
}
.nav-pd {
    font-style: normal;
    font-size: 0.86em !important;
}
.active {
    color: #FD614A;
    border-bottom: 3px solid #FD614A;
}

/*
 * list
 */
.content {
    padding: 0.75em 0;
}
.list-style {
    background-color: white;
    border-color: #F2F2F2;
    padding: 0.5em;
}
.icon-style {
    min-height: 3.2em;
    min-width: 3.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.icon-style img {
    width: 3.2em;
    height: 3.2em;
}
.icon-width {
    width: 3.0em;
    height: 3.0em;
    -webkit-border-radius: 3.0em;
    border-radius: 3.0em;
}
.icon-bg {
    background-image: url('../img/head.jpg');
}
.arrow-style {
    min-width: auto;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.icon-marg-right {
    margin-right: 0.25em;
}
.user-padd {
    padding: 0.5em 0 0.5em 0.5em;
}
.nick-padd {
    padding-bottom: 0.25em;
}
.user-nick {
    margin-right: 0.3em;
    min-height: 0.95em;
    font-style: normal;
    color: #6D6D6D;
    font-size: 0.95em !important;
}
.user-note {
    font-style: normal;
    color: #888888;
    font-size: 0.8125em !important;
}
.time-padd {
    padding: 0 0 0.65em 0;
}
.float-time {
    float: right;
    font-size: 0.788em !important;
}
.right-time {
    font-style: normal;
    color: #888888;
    font-size: 0.68em !important;
}
.user-stat {
    min-height: 0.95em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.stat-sty {
    background-color: white;
    font-size: 0.6em !important;
    color: #FD614A;
    padding: 0.1em 0.3em;
    --webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 1px solid #FD614A;
}
.stat-sty span {
    margin-left: 0.2em;
}
.overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}
